.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}

.leftLine {
    width: 5%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--dark);

}

.dot {
    //     display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: clamp(4px, 1vw, 16px);
    // border: solid 1px var(--dark);
    // padding: 4px 16px;
    // border-radius: 10px;
    // color: var(--main);


    min-width: 30px;
    min-height: 30px;
    border-radius: 100px;
    // border: solid 1px var(--dark);
    background-color: var(--dark);
    // box-shadow: 0 0 100px 30px var(--main);
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.2);

    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1.2);
    }
}


.rightLine {
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--dark);
}

.middleLine {
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--dark);
}


.arrowup {
    min-width: 50px;
    min-height: 50px;
    border-radius: 200px;
    border: solid 1px var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    >img {
        width: 25px;
        transform: rotate(-90deg);
    }
}




@media(max-width: 750px) {
    .leftLine {
        width: 100%;
    }

}