.skillSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 56px;
}

.skillContainer {
    width: 100%;
    max-width: 1440px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.skillCard {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
   transform: scale(0.9);
   transition: transform 1s ease-in-out;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 32px;
    background-color: var(--back);
   box-shadow: var(--shadow);
 color: rgb(242, 239, 239);
    border-radius: 10px;

    >img {
        width: 56px;
     
    }

}

.scaleCard{
    transform: scale(1);
}