.skillsSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 112px;

}

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    >p {
        text-align: center;
    }

}

.skillContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(56px, 4vw, 112px)
}

.skillIconsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: clamp(56px, 8vw, 224px)
}



.textContainer {
    width: 100%;
    max-width: clamp(500px, 30vw, 700px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skillIcons {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    >div {
        max-height: fit-content;
    }

}



// test

.skillflowContainer {
    width: 100%;
    max-width: 800px;
    // height: clamp(50px, 30vw, 620px);
    aspect-ratio: 2/1;
    position: relative;
    margin-top: clamp(0px, calc(100px - 7vw), 100px);

    >span {
        font-size: clamp(32px, 2vw, 56px);
        font-weight: 400;
    }

}

.skilldot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    transition: left 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;

    >img {
        width: 45%;
    }

    &:nth-child(1) {
        top: 30%;
        left: 40%;
    }

    &:nth-child(2) {
        top: 30%;
        left: 85%;
    }

    &:nth-child(3) {
        top: 10%;
        left: 10%;
    }

    &:nth-child(4) {
        top: 10%;
        left: 65%;
    }

    &:nth-child(5) {
        top: 80%;
        left: 20%;
    }

    &:nth-child(6) {
        top: 80%;
        left: 80%;
    }

    &:nth-child(7) {
        top: 50%;
        left: 10%;
    }

    &:nth-child(8) {
        top: 80%;
        left: 50%;
    }
}

.skillTitle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: top 0.8s ease-in-out, left 0.8s ease-in-out, transform 0.8s ease-in-out, width 0.8s ease-in-out, height 0.8s ease-in-out;
}

.movetitle {
    opacity: 0;


}

.move1 {
    left: 8px !important;
    top: 0 !important;

    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move2 {
    left: calc(25% + 8px) !important;
    top: 0 !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move3 {
    left: calc(50% + 8px) !important;
    top: 0 !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move4 {
    left: calc(75% + 8px) !important;
    top: 0 !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move5 {
    left: 8px !important;
    top: 50% !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move6 {
    left: calc(25% + 8px) !important;
    top: 50% !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move7 {
    left: calc(50% + 8px) !important;
    top: 50% !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}

.move8 {
    left: calc(75% + 8px) !important;
    top: 50% !important;
    width: calc(100%/4 - 16px) !important;
    height: calc(100%/2 - 16px) !important;
}




//test

.flipCard {


    //   height: clamp(100px, 10vw, 180px);

    perspective: 1000px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    transition: left 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;

    >img {
        width: 45%;
    }

    &:nth-child(1) {
        top: 40%;
        left: 80%;
    }

    &:nth-child(2) {
        top: 10%;
        left: 60%;
    }

    &:nth-child(3) {
        top: 20%;
        left: 20%;
    }

    &:nth-child(4) {
        top: 10%;
        left: 90%;
    }

    &:nth-child(5) {
        top: 80%;
        left: 20%;
    }

    &:nth-child(6) {
        top: 80%;
        left: 80%;
    }

    &:nth-child(7) {
        top: 60%;
        left: 10%;
    }

    &:nth-child(8) {
        top: 80%;
        left: 50%;
    }

    cursor: pointer;

    .flipCardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    &:hover .flipCardInner {
        transform: rotateY(180deg);
    }

    .flipCardFront,
    .flipCardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        backface-visibility: hidden; // verhindert das Flackern
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white; // Weißer Hintergrund auf beiden Seiten
    }

    .flipCardFront {
        gap: 10px;

        >img {
            width: 45%;
        }
    }

    .flipCardBack {
        transform: rotateY(180deg);

        >span {
            text-align: center;
            font-size: clamp(0.7rem, 1.3vw, 1.2rem);
            font-weight: 600;
        }
    }
}

.methodContainer {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    height: 100%;
    gap: 32px;
}

.methodCards {
    width: 100%;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 24px;

}

.methodCard {
    width: 130px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--main);
    border: solid 1px var(--dark);
    border-radius: 10px;
    // background-color: var(--dark);
    color: white;


}

.learningProgress {
    width: 100%;
    max-width: clamp(500px, 20vw, 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // box-shadow: var(--shadow);
    // padding: 16px 64px;
    border-radius: 10px;


}



.learningProgressContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(18px, 2vw, 48px);

    >h2 {
        width: 100%;
        text-align: start;
        border-bottom: solid var(--dark);
        box-sizing: border-box;
        padding: 4px;
    }
}

.learningProgressInner {
    display: flex;
    justify-content: flex-start;
    gap: clamp(32px, 7vw, 56px)
}

.progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(0px, 1vw, 28px);

    >span {
        font-size: clamp(16px, 5vw, 20px);
        color: var(--dark);
        font-weight: 400;
    }
}

svg {
    width: clamp(80px, 8vw, 100px);
    height: clamp(80px, 8vw, 100px);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}










































// .subHeadline {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     >h4 {
//         border: solid;
//         padding: 8px 24px;
//         border-radius: 10px;

//     }

//     >div {
//         flex: 1;
//         height: 1px;
//         background-color: var(--dark);
//     }

//     >img {}
// }





// .stackContainer{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 32px;
// }


// .skillsOverview{
//     width: 100%;
//    display: grid;
//    grid-template-columns: repeat(2,1fr);

//     column-gap: 112px;
//     row-gap: 8px;
// }

// .skill{
//     width: 100%;
//     display: flex;

//     align-items: center;
//     gap: 16px;
//     >img{
//         width: clamp(20px, 2vw, 30px);

//         padding: clamp(4px, 2vw , 16px);
//         border-radius: 8px;
//        box-shadow: var(--shadow);
//     }
// }

// .skillInfos{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
// }

// .beamContainer{
//     display: flex;
//     flex-direction: column;
//     gap:6px;
//     width: 100%;
// }

// .skillBeam{
//     width: 100%;
//     height: 8px;
//     background-color: var(--back);
//     border-radius: 100px;
//     position: relative;
//     >div{
//         height: 100%;
//         border-radius: 100px;
//         background-color: var(--main);
//     }
//     >span{
//         position: absolute;

//         right: 0;
//     }
// }



@media(max-width: 1150px) {

    .skillContainer {
        align-items: center;
    }

    .skillIconsContainer {
        flex-direction: column;
        align-items: center;
    }

    .skillIcons {
        gap: 16px;
    }

    .content {
        align-items: center;
    }

    .learningProgress {
        max-width: unset;
        width: fit-content;
    }

    .learningProgressContainer {
        align-items: center;

        >h2 {
            text-align: center;
        }

    }

    .progressContainer {
        justify-content: center;
    }


}

@media(max-width: 1000px) {

    .progressContainer {

        gap: 16px;
    }

    .textContainer {
        >h2 {
            text-align: center;
        }
    }

}


@media(max-width: 600px) {
    .learningProgress {
        padding: 16px;
    }

    .learningProgressContainer {
        >h2 {
            text-align: center;
        }
    }
}