.testimonialsSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.testimonialContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;

}

.testimonialCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    background-color: var(--back);
    padding: clamp(48px, 6vw, 96px) clamp(24px, 6vw, 56px);

    gap: 48px;
    border-radius: 20px;
    position: relative;
    box-shadow: var(--shadow);

    >div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    >img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -35px;
        left: -35px;
        background-color: var(--back);
        border-radius: 100px;
        // border: solid var(--dark);
        box-shadow: var(--shadow);

    }

  
}




@media(max-width: 1370px) {
    .testimonialContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1050px) {


    .testimonialContainer {
        place-items: center;
    }
}


@media(max-width: 900px) {
    .testimonialCard {
        >img {
            left: 50%;
            top: -50px;
            transform: translateX(-50%);
        }
    }

    .testimonialContainer {
        grid-template-columns: repeat(1, 1fr);

    }
}