.footerSection{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--dark);
  
}

.content{

    width: 100%;
    max-width: 2160px;
    display: flex;
    justify-content: space-between;
}

.legalLinks{
    display: flex;
    justify-content: center;
    gap: 48px;
}