:root {
    --font: #333333;
    --white-font: white;
    --main: #04729f;
    --dark: #022f40;
    --back: #EEEEEE;
    --shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    --transparent: rgba(255, 255, 255, 0.697)
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--font);
    font-weight: 250;
    font-family: 'Inter';
    overflow-x: hidden;
    // background-color: var(--button);

}

section,
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--font);
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: var(--main);
    }
}


p {
    margin: 0;
}

h1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
    font-weight: 500;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    font-weight: 400;
    color: var(--main);
}

h3 {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

h4 {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 500;
    // padding-bottom: 6px;
    // border-bottom: solid 1px var(--button);

}

button {
    background-color: var(--dark);
    width: clamp(140px, 8vw, 160px);
    aspect-ratio: 1/0.375;
    border: none;
    border-radius: 10px;
    color: var(--white-font);
    font-size: 1rem;
    cursor: pointer;

}

.btnBack {
    position: relative;
    width: clamp(140px, 8vw, 160px);
    aspect-ratio: 1/0.375;
    border-radius: 10px;
    background-color: var(--back);
    transition: transform 0.2s ease-in-out;

    >button {
        position: absolute;
        top: -8px;
        left: -8px;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out;

        &:hover {
            top: 0;
            left: 0;
        }



    }

    &:has(>button:active) {
        transform: scale(0.95);
    }
}

.screenPadding {
    padding-left: clamp(16px, calc(6vw - 7.5px), 120px);
    padding-right: clamp(16px, calc(6vw - 7.5px), 120px);
}

.screenMargin {
    margin-top: clamp(112px, 8vw, 172px);
}

.placeholder {
    width: 100%;
    height: 100px;
}

.mainContent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





// @media(max-width:1000px) {
//     button {
//         width: 160px;
//         height: 50px;
//         font-size: 0.8rem;
//     }

//     .btnBack {
//         width: 160px;
//         height: 50px;
//     }
// }


@media(max-width: 750px) {

    .placeholder {
        height: 80px;
    }
}

@media(pointer: coarse) {
    .btnBack {
        >button {
            top: 0;
            left: 0;
        }
    }
}