:root {
    --font: #333333;
    --white-font: white;
    --main: #04729f;
    --button: #022f40;
    --back: rgba(0, 0, 0, 0.067);
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    color: var(--font);
    font-weight: 250;
    font-family: 'Inter';
   
}

section,
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--font);
}

p {
    margin: 0;
}

button {
    background-color: var(--button);
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    color: var(--white-font);
    font-size: 1rem;
    cursor: pointer;

}

.btnBack {
    position: relative;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--back);
    transition: transform 0.2s ease-in-out;

    >button {
        position: absolute;
        top: -8px;
        left: -8px;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out;

        &:hover {
            top: 0;
            left: 0;
        }



    }

    &:has(>button:active) {
        transform: scale(0.95);
    }
}

.screenPadding {
    padding-left: clamp(16px, calc(6vw - 7.5px), 120px);
    padding-right: clamp(16px, calc(6vw - 7.5px), 120px);
}

.placeholder {
    width: 100%;
    height: 100px;
}

.mainContent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



@media(max-width:1000px) {
    button {
        width: 160px;
        height: 50px;
        font-size: 0.8rem;
    }

    .btnBack {
        width: 160px;
        height: 50px;
    }
}


@media(max-width: 750px) {

    .placeholder {
        height: 80px;
    }
}

@media(pointer: coarse) {
    .btnBack {
        >button {
            top: 0;
            left: 0;
        }
    }
}