.headlineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(8px, 5vw, 16px);
    margin-bottom: clamp(64px, 4vw, 200px);
}

.underline {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--back);
    border-radius: 100px;
}

.inline {
    width: 60%;
    height: 100%;
    background-color: var(--main);
    border-radius: 100px;
}

@media(max-width:1360px) {
.headlineContainer{
    align-items: center;
}
}
