.headerSection {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
position: fixed;
background-color: white;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 2160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

nav a {
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.2s ease-in-out;

}

nav a:hover {
    color: var(--main);
}

.logo {
    >img {
        width: clamp(100px, 5vw, 180px)
    }
}

@media(max-width: 750px) {
    nav {
        display: none;
    }
.headerSection{
    height: 80px;
}
}