.headlineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: clamp(8px, 5vw, 16px);
    margin-bottom: clamp(32px, 2vw, 200px);

    >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

.underline {
    width: 120%;
    height: 6px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--back);
    border-radius: 100px;
}

.inline {
    width: 60%;
    height: 100%;
    background-color: var(--main);
    border-radius: 100px;
}

@media(max-width:750px) {
    .headlineContainer {
        align-items: center;

        >div {
            align-items: center;
        }
    }

    .underline {
        justify-content: center;
    }
}