.heroSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: fit-content;
    position: relative;
}

.title {
    height: calc(100% - clamp(80px, 10vw, 200px));
    min-width: clamp(320px, 50vw, 1000px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: clamp(40px, 10vw, 200px);
    position: relative;

    >p {
        font-size: clamp(1.3rem, 2vw, 2.8rem);
        font-weight: 500;
    }
}

.word {
    display: flex;

    >div {

        display: flex;
        justify-content: center;
        align-items: center;

        >span {
            font-size: clamp(2.8rem, 7.5vw, 9.5rem);
            font-weight: 650;
            color: var(--main);
            transition: transform 0.2s ease-in-out;

            &:hover {
                color: var(--button);

            }
        }
    }

}

.portrait {
    width: 41%;
    border-radius: 70% 50% 70% 50%;
    transition: border-radius 1s ease-in-out;
    background-color: var(--back);
    margin-top: clamp(0px, calc(400px - 20vw), 80px);

    &:hover {

        //   border-radius: 50% 90%  50% 90%;
        border-radius: 50% 70% 50% 70%;
    }
}

.margin {
    margin-top: clamp(-30px, calc(0px - 3vw), -10px);
    padding-left: clamp(00px, 5vw, 100px);
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    padding-right: 25px;

}

.links {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // gap: 16px;
    //  >a {
    //         min-width: 50px;
    //         height: 50px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         background-color: var(--back);
    //         border-radius: 10px;

    //         >img {
    //             width: 30px;
    //         }

    //     }

}

.linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(4px, 1vw, 16px);
    border: solid 1px var(--button);
    padding: 4px;
    border-radius: 10px;

    >a {
        min-width: clamp(35px, 3vw, 50px);
        height: clamp(35px, 3vw, 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: var(--back);
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;

        >img {
            width: clamp(25px, 3vw, 30px);
            ;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.leftLine {
    width: 10%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--button);
}

.dot {
    min-width: 3px;
    min-height: 3px;
    border-radius: 100px;
    background-color: var(--button);
}

.rightLine {
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--button);
}


@media(max-width: 1050px) {
    .heroSection {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: clamp(32px, 8vw, 96px)
    }

    .portrait {
        width: 50%;
        margin-top: 0;
        border-radius: 20px;
    }

    .title {
        align-items: center;
        position: unset;
        height: fit-content;
    }

    .btnContainer {
        // justify-content: center;
        // padding-right: unset;
        // margin-top: 20px;
        display: none;
    }

    .links {
        width: 100%;
        bottom: 16px;
    }
}

@media(max-width: 750px) {
    .heroSection {
        height: calc(100vh - 80px);
    }

    .links {
        >a {
            width: 40px;
            height: 40px;
            border-radius: 8px;

            >img {
                width: 20px
            }
        }
    }

    .leftLine {
        width: 100%;
    }
}