.projectsSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(0px, 0.3vw, 32px)
}

.projectContainer {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 64px;
    padding-block: 32px;

}
.projectsBarContainer{
    width: fit-content;
      box-shadow: var(--shadow);
      padding: 32px;
      border-radius: 10px;
    min-height: 100%;
}
.projectsBar {

    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    gap: 16px;
  
  
    
}



.projectBtn {
    width: clamp(120px, 8vw, 180px);
height: fit-content;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    // >span {
    //     color: white;
    //     font-weight: 400;
    // }
    >img {
        width: 100%;
        aspect-ratio: 1/0.7;
        border-radius: 8px;
        box-shadow: var(--shadow);




    }

    &:hover {
        transform: scale(1.3);
    }

    &:active {
        transform: scale(0.95);
    }

}


.divider{
   min-height: 100%;
   min-width: 5px;
    background-color: var(--main);
    border-radius: 100px;
}

.projectDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.projectsInfoContainer {
    width: 100%;
    max-width: clamp(500px, 40vw, 700px);
    height: clamp(490px, 30vw, 650px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    gap: 8px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: white;

    >img {
        width: clamp(120px, 10vw, 200px);
        aspect-ratio: 1.5/1;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }

    >h3 {
        color: var(--main);
        width: 100%;
        border-bottom: solid 1.5px var(--main);
    }
}


.duration {
    display: flex;
    gap: 8px;
}

.stack {
    width: 100%;
    display: flex;
    gap: 24px;
    border-bottom: solid 1.5px var(--main);
    padding-block: 8px;

}

.stackImage {


    >img {
        width: 30px;
    }
}

.projectsImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;


}

.projectsBtns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.slideIn {
    transform: translateX(0) !important;
}

.closeBtn {
    width: 30px;
    position: absolute;
    top: 24px;
    right: 24px;
}

@media(max-width: 1000px) {
    .projectDetails {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        align-items: center;
        z-index: 2;
        background-color: white;
        transform: translateX(120%);
    }

    .projectsBarContainer{
        width: 100%;
        box-shadow: unset;
        padding: 0;
    }

    .projectsBar {
        border: unset;
        height: fit-content;
        max-width: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

    }

    .projectBtn {
        width: clamp(140px, 40vw, 100%);
        aspect-ratio: 1/1;
        align-items: center;

      
     
    }
}


@media(max-width: 470px) {
    .projectsInfoContainer {
        box-shadow: unset;
        height: 100vh;
        padding-block: 64px;
    }



}