.heroSection {
    width: 100%;

    min-height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    max-width: fit-content;
    position: relative;

}

.heroContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.title {
    height: calc(100% - clamp(80px, 10vw, 200px));
    min-width: clamp(320px, 50vw, 1000px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: clamp(40px, 10vw, 200px);
    position: relative;

    >p {
        font-size: clamp(1.3rem, 2vw, 2.8rem);
        font-weight: 500;
    }
}

.word {
    display: flex;

    >div {

        display: flex;
        justify-content: center;
        align-items: center;

        >span {
            font-size: clamp(2.8rem, 7.5vw, 9.5rem);
            font-weight: 650;
            color: var(--main);
            transition: transform 0.2s ease-in-out;

            &:hover {
                color: var(--dark);

            }
        }
    }

}

.portrait {
    width: 41%;
    border-radius: 70% 50% 70% 50%;
    transition: border-radius 1s ease-in-out;
    background-color: var(--back);
    margin-top: clamp(0px, calc(400px - 20vw), 80px);

    &:hover {

        //   border-radius: 50% 90%  50% 90%;
        border-radius: 50% 70% 50% 70%;
    }
}

.margin {
    margin-top: clamp(-30px, calc(0px - 3vw), -10px);
    padding-left: clamp(00px, 5vw, 100px);
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    padding-right: clamp(25px, 7vw, 160px)
}

.divider {

    width: 100%;

}

@media(max-width: 1050px) {
    .heroContainer {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: clamp(32px, 8vw, 96px)
    }

    .portrait {
        width: 50%;
        margin-top: 0;
        border-radius: 20px;
    }

    .title {
        align-items: center;
        position: unset;
        height: fit-content;
    }

    .btnContainer {
        // justify-content: center;
        // padding-right: unset;
        // margin-top: 20px;
        display: none;
    }

    .links {
        width: 100%;
        bottom: 16px;
    }

    .margin {
        padding-left: unset;
    }

}

@media(max-width: 780px) {
    .heroSection{
        gap: 88px;
    }
    .links {
        >a {
            width: 40px;
            height: 40px;
            border-radius: 8px;

            >img {
                width: 20px
            }
        }
    }

    .leftLine {
        width: 100%;
    }

}
@media(max-width: 570px) {
    .divider{
        margin-bottom: 40px;
    }
}