.projectsSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: clamp(0px, 0.3vw, 32px);

    border-radius: 20px;


}

.projectContainer {
    width: 100%;
    // flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 112px;
    padding-block: 32px;


}

// .projectsBarContainer {
//     width: fit-content;
//     box-shadow: var(--shadow);
//     padding: 32px;
//     border-radius: 10px;
//     min-height: 100%;
// }

.projectsCards {
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: clamp(16px, 3vw, 72px)


}



.projectCard {
    // width: clamp(120px, 8vw, 180px);
    width: 100%;
    max-width: clamp(300px, 20vw, 360px);
    height: fit-content;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    // >span {
    //     color: white;
    //     font-weight: 400;
    // }
    >img {
        width: 100%;
        aspect-ratio: 1/0.7;
        border-radius: 4px;
        box-shadow: var(--shadow);




    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }

}



// .projectDetails {
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     transition: transform 0.5s ease-in-out;
// }

.projectDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 96px;
    padding: 64px 0;
    z-index: 2;
    background-color: white;

    // transform: translateX(120%);

}

.projectsInfoContainer {
    width: 100%;
    max-width: clamp(500px, 40vw, 700px);
    height: clamp(490px, 30vw, 650px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    gap: 8px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: white;

    >img {
        width: clamp(120px, 10vw, 200px);
        aspect-ratio: 1.5/1;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }

    >h3 {
        color: var(--main);
        width: 100%;
        border-bottom: solid 1.5px var(--main);
    }
}


.duration {
    display: flex;
    gap: 8px;
}

.stack {
    width: 100%;
    display: flex;
    gap: 24px;
    border-bottom: solid 1.5px var(--main);
    padding-block: 8px;

}

.stackImage {


    >img {
        width: 30px;
    }
}

.projectsImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;


}

.projectsBtns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

// .slideIn {
//     transform: translateX(0) !important;
// }

.closeBtn {
    width: 30px;
    position: absolute;
    top: 64px;
    right: 64px;
    z-index: 1;
    cursor: pointer;
}

.divider {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}

.slideBtn {
    width: 50px;
    height: 50px;

    border: solid 1px var(--dark);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    >img {
        width: 40%;
    }

    &:active {
        transform: scale(0.95);
    }
}


.navigation {
    display: flex;
    gap: 16px;

}

.leftLine {
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--dark);

}

.rightLine {
    width: 10%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--dark);
}


// .forward {
//     animation: slideOutLeft 0.8s ease-out forwards;
//     // animation: slideInRight 0.8s ease-out forwards;
// }

// .backward {
//     animation: slideInLeft 0.8s ease-out forwards;
// }






@media(max-width: 1000px) {


    // .projectDetails {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     height: 100vh;
    //     align-items: flex-start;
    //     justify-content: center;
    //     padding-top: 64px;
    //     z-index: 2;
    //     background-color: white;
    //     transform: translateX(120%);
    // }


    .divider {
        display: none;
    }

    .projectsBarContainer {
        width: 100%;
        box-shadow: unset;
        padding: 0;
    }

    .projectsBar {
        border: unset;
        height: fit-content;
        max-width: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

    }

    .projectBtn {
        width: clamp(140px, 40vw, 100%);
        aspect-ratio: 1/1;
        align-items: center;



    }
}
@media(max-width: 685px) {
   
.projectsCards{
    justify-content: center;
}
}



@media(max-width: 380px) {
    .projectsInfoContainer {
        box-shadow: unset;
        height: 90vh;

    }

}